
.Home-Container{
    display: flex;
    max-width: 100%;
    align-items: center;
    margin: 2em;
    justify-content: space-around;
}

.Talk-Bubble{
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: #2b2b2b;
    color: white;
    padding: 15px;
    padding-right: 20px;
    margin: 10px 10px 10px 0;
    width: fit-content;
}

.Home-Left{
  width: 50%;
  font-size: 1.5em;
  text-align: left;
}

.Home-Right{
  /* border: 2px solid red;  */
  width: 30%;
}

.slider{
  width: 50vw;
  height: 50vh;
  border: 1px red solid;
  background: url(../images//Home/p0.jpg);
  background-repeat: no-repeat;
  animation: slide 11s infinite;
}

@keyframes slide{
  25%{
    background-image: url(../images//Home/p1.jpg);
  }
  50%{
    background-image: url(../images//Home/p2.jpg);
  }
}