.Info-Banner {
  padding: 1.5em;
  text-align: center;
  background: black;
  color: white;
  font-size: 2em;
}
.Info-Background{
  max-width: 100%;
}

.Info-Container-Stepper {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  height: 85vh;
}

.Info-Message {
  width: 30%;
  font-size: 1.5em;
  text-align: left;
}
.Info-Image {
  width: 45%;
}
.Figma{
  background: black;
}
#figma{
  width: 98vw;
  height: 95vh;
  border: 2px solid black;
  border-bottom: none;
}