.Info-Banner {
  padding: 1.5em;
  text-align: center;
  background: black;
  color: white;
  font-size: 2em;
}
.Info-Background{
  max-width: 100%;
}
.Info-Container-Stepper {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: green solid 1px; */
  margin-top: 2em;
}

.Info-Message {
  width: 30%;
  font-size: 1.5em;
  text-align: left;
  height: 85vh;
}
.Info-Image {
  width: 45%;
}
